@model List<Lab6.Models.DataAccess.AcademicRecord>

@{
    ViewData["Title"] = "EditAll";
}

<h1>Edit</h1>
<h4>Academic Records</h4>

<form method="post">
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
               <a asp-page="/Index" asp-route-sort="course"> @Html.DisplayNameFor(model => model[0].CourseCodeNavigation)</a>
               
            </th>
            <th>
               <a asp-page="/Index" asp-route-sort="name"> @Html.DisplayNameFor(model => model[0].Student)</a>
            </th>
            <th>
                <a asp-page="/Index" asp-route-sort="grade"> @Html.DisplayNameFor(model => model[0].Grade)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

         @{
            
        }
        @for (int i = 0; i<Model.Count;  i++)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[i].CourseCode) - @Html.DisplayFor(modelItem => Model[i].CourseCodeNavigation.Title)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => Model[i].StudentId) - @Html.DisplayFor(modelItem => Model[i].Student.Name)
            </td>
            <td>
                <input type="hidden" asp-for="@Model[i].CourseCode" />
               <input type="hidden" asp-for="@Model[i].StudentId" />
               @*<input asp-for="@Model[i].Grade" class="form-control" />*@
               <input asp-for="@Model[i].Grade" class="form-control" value="@Model[i].Grade" />
            </td>
            <td>
               <span asp-validation-for="@Model[i].Grade" class="text-danger"></span>
            </td>
               @* <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }

    </tbody>
</table>
 <input type="submit" value="Save" class="btn btn-primary" />
 <input type="submit" value="Cancel" class="btn btn-primary" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}